Django==1.8.4
-e git+https://github.com/pydanny/django-admin2@20b5b2ab72753f7af96c911bc8c13c4e8593c485#egg=django_admin2-develop
django-braces==1.8.1
django-crispy-forms==1.5.0
django-extra-views==0.7.1
django-filter==0.11.0
django-floppyforms==1.2.0
djangorestframework==2.4.4
pytz==2014.7
six==1.9.0
